<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div id="dialogTitle" class="title"></div>
    </div>
</div>

<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="urlLabel" class="label right">URL</div>
                    <div x-mojo-element="TextField" id="newFeedURL"></div>
                </div>
            </div>
        </div>
        <div id="newFeedDiv" class="palm-row">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="titleLabel" class="label right">Title</div>
                    <div x-mojo-element="TextField" id="newFeedName"></div>
                </div>
            </div>
        </div>
        <div id="albumArtDiv" class="palm-row last">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="iconLabel" class="label right">Icon</div>
                    <div x-mojo-element="TextField" id="albumArt"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title"><span id="feedOptions">Options</span></div>
    <div class="palm-list">

        <div id="sortingListRow" class="palm-row first">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ListSelector" id="sortingList"></div>
            </div>
        </div>

        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div x-mojo-element="ToggleButton" id="includeOwnFilesToggle"></div>
                <div id="includeDrPodderFiles" class="title left">include Guttenpodder own's podcast files</div>
            </div>
        </div>

    </div>
</div>
